.sidebar {
  background: url(../../assets/images/bg-sidebar-mobile.svg);
  height: 171px;

  .step-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;

    .step {
      border: 1px solid #fff;
      border-radius: 100%;
      padding: 0.4rem 0.7rem;
      color: #fff;

      &-active {
        background: var(--color-primary-light-blue);
        color: #000;
        font-weight: 700;
      }
    }

    .step:hover {
      background: var(--color-primary-light-blue);
      color: #000;
      font-weight: 700;
      cursor: pointer;
    }
  }  
}